[[constraint]]
  name = "gopkg.in/src-d/go-mysql-server.v0"
  revision = "1e7464048d3a5f5261d26526d3500d9a560b2c08"

[[constraint]]
  name = "github.com/jessevdk/go-flags"
  version = "1.3.0"

[[constraint]]
  branch = "master"
  name = "github.com/olekukonko/tablewriter"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "1.1.4"

[[constraint]]
  name = "gopkg.in/src-d/go-git.v4"
  source = "github.com/src-d/go-git"

[[constraint]]
  name = "gopkg.in/src-d/go-git-fixtures.v3"
  version = "3.0.0"

[[override]]
  name = "golang.org/x/sys"
  source = "github.com/golang/sys"

[[override]]
  name = "golang.org/x/crypto"
  source = "github.com/golang/crypto"

[[override]]
  name = "golang.org/x/text"
  source = "github.com/golang/text"

[[override]]
  name = "golang.org/x/net"
  source = "github.com/golang/net"

[[override]]
  name = "github.com/satori/go.uuid"
  revision = "36e9d2ebbde5e3f13ab2e25625fd453271d6522e"

[[constraint]]
  name = "gopkg.in/src-d/enry.v1"
  version = "1.6.3"

[[constraint]]
  name = "gopkg.in/bblfsh/client-go.v2"
  version = "2.4.1"
